html{
  scroll-behavior: smooth;
}

/*navbar*/
.navbar li 
{
    margin-left : 1em;
    margin-right : 1em;
}

.navbar .logo
{
	color: #d35400;
}

.navbar .btn-secondary
{
	background-color: #d35400;
	border: none;
}

.navbar .btn-secondary:hover
{
	background-color: #e67e22;
}

 /*header*/
.header 
{
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('./assets/seth-doyle-unsplash.jpg');
  background-size: cover;
}

.header-text
{
  position: absolute;
  top: 50%;
  left: 26%;
  right: 40%;
  transform: translate(-50%, -50%);
  font-size: 53px;
  font-family: 'Gloria Hallelujah', cursive; 
}

.donate-card
{
	padding: 40px 100px;
	margin-top: -140px;
	background-color: #fff;
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}

.donate-card .btn-secondary
{
	background-color: #d35400;
	border: none;
}

.donate-card .btn-secondary:hover
{
	background-color: #e67e22;
}
/*about*/
.mission
{
	color: #d35400;
}

/*causes*/
.causes
{
	background-color: #f2f2f2;
}

.causes h1
{
	color: #d35400;
}

/*donation*/
#donation
{
	padding-top: 100px;
	padding-bottom: 100px;
	background: linear-gradient(rgba(205, 165, 88, 0.8),rgba(205, 165, 88, 0.8)),url(assets/zach-vessels-unsplash.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

#donation .btn-secondary
{
	background-color: #d35400;
	border: none;
}

/*contact*/
#contact .btn-secondary
{
	background-color: #d35400;
	border: none;
}

#contact .btn-secondary:hover
{
	background-color: #e67e22;
}

#contact h1
{
	color: #d35400;
}

/* back to the top button */
#button {
    display: inline-block;
    background-color: #d35400;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #e67e22;
  }
  #button:active {
    background-color: #e67e22;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

/*footer*/
#footer
{
	margin-top: 80px;
	padding: 100px;
	background-color: #efefef;
	color: #013f7e;
}

#footer .footer-logo
{
	color: #d35400;
}

#footer .sub-head
{
	font-size: 15px;
	text-align: left;
	margin-top: 25px;
	margin-bottom: 25px;
}

#footer p
{
	font-size: 12px;
	text-align: left;
}

#footer .fa
{
	padding-right: 20px;
	font-size: 15px;	
}

#footer hr
{
	margin-top: 10px;
}

#footer .copyright 
{
	margin-bottom: -80px;
	text-align: center;
	font-size: 15px;
}

#footer a
{
	color: #d35400;
}

#footer .social
{
	color: #273c75;
	text-decoration: none;
}
@media only screen and (max-width: 600px)
{
	.header-text
	{
		top: 37%;
  		left: 30%;
  		right: 20%;
		font-size: 30px;
	}

	#contact #name
	{
		padding-bottom: 5px;
	}

	.donate-card
	{
		padding: 40px 50px;
	}

}